*.class

# Package Files #
*.jar
*.war
*.ear
/nbproject/private/

# Eclipse
.project
.classpath
.settings/

# Netbeans
build.xml
nbproject/

# Maven
target/

# Libraries
lib/

# Build
build/
dist/
release/
/nbactions-sonatype-oss-release.xml